.add-task-btn {
   font-size: 21px;
   font-weight: 700;
   color: #ffffff;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 10px;
   background-color: #2a3647;
   cursor: pointer;
   white-space: nowrap;
   flex-shrink: 0;
}

.add-task-btn:hover {
   background-color: #29abe2;
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
   transition: all 100ms ease-in-out;
}

.add-task-btn:active {
   background-color: #091931;
   transition: all 100ms ease-in-out;
}

.add-task-btn__icon {
   width: 32px;
   height: 32px;
   display: block;
}
