<!DOCTYPE html>
<html lang="de">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Join</title>

      <link
         rel="icon"
         href="../assets/icons/desktop/logoFavicon.svg"
         type="image/svg+xml"
         media="(prefers-color-scheme: light)" />
      <link
         rel="icon"
         href="../assets/icons/desktop/logo.svg"
         type="image/svg+xml"
         media="(prefers-color-scheme: dark)" />

      <script src="../scripts/template.js"></script>
      <script src="../scripts/global-auth-routing.js"></script>
      <script src="../script.js"></script>

      <link rel="stylesheet" href="../styles/standard.css" />
      <link rel="stylesheet" href="../style.css" />
      <link rel="stylesheet" href="../styles/components/navigation.css" />
      <link rel="stylesheet" href="../styles/components/header.css" />
      <link rel="stylesheet" href="../styles/components/dropdown.css" />
      <link rel="stylesheet" href="../styles/components/app-shell.css" />
      <link rel="stylesheet" href="../styles/components/app-shell-responsive.css" />
      <link rel="stylesheet" href="../styles/help.css" />
   </head>
   <body>
     
      <nav class="navBar">
         <header class="navBar__logo logo">
            <img
               class="logoIcon"
               src="../assets/icons/desktop/logo.svg"
               alt="Logo" />
         </header>
         <main class="navBar__menu">
            <ul class="navBar__list list">
               <li class="navBar__quicklink quicklink" id="nav-summary">
                  <img
                     src="../assets/icons/desktop/summary.svg"
                     alt=""
                     class="quicklink__icon" />
                  <span>Summary</span>
               </li>
               <li class="navBar__quicklink quicklink" id="nav-add-task">
                  <img
                     src="../assets/icons/desktop/addTask.svg"
                     alt=""
                     class="quicklink__icon" />
                  <span>Add Task</span>
               </li>
               <li class="navBar__quicklink quicklink" id="nav-board">
                  <img
                     src="../assets/icons/desktop/board.svg"
                     alt=""
                     class="quicklink__icon" />
                  <span>Board</span>
               </li>
               <li class="navBar__quicklink quicklink" id="nav-contacts">
                  <img
                     src="../assets/icons/desktop/contacts.svg"
                     alt=""
                     class="quicklink__icon" />
                  <span>Contacts</span>
               </li>
            </ul>
         </main>
         <footer class="navBar__legalInformation">
            <p class="legalInformation" id="nav-Privacy-Policy">
               Privacy Policy
            </p>
            <p class="legalInformation" id="nav-Legal-Notice">Legal Notice</p>
         </footer>
      </nav>
      <section class="mainArea">
         <header class="header">
            <div class="header_flex-instructions topBar">
               <img
                  src="../assets/icons/desktop/Dark_Logo.svg"
                  alt="Logo"
                  class="logo__dark" />
               <span class="topBar__name">Kanban Project Management Tool</span>
               <section class="topBar__loginHelp">
                  <span id="login__initials" class="login__initials"></span>
               </section>
            </div>
         </header>
         <div id="dropdownMenu" class="header__dropdown">
            <ul class="header__dropdown-quicklinks">
               <li class="header__dropdown-quicklink" id="dropdownHelp">
                  Help
               </li>
               <li
                  class="header__dropdown-quicklink"
                  id="dropdownPrivacyPolicy">
                  Privacy Policy
               </li>
               <li class="header__dropdown-quicklink" id="dropdownLegalNotice">
                  Legal Notice
               </li>
               <li class="header__dropdown-quicklink" id="dropdownLog">
                  Log out
               </li>
            </ul>
         </div>
         <main class="main content_max-width">
            <div class="main_flex-instructions">
               <section class="headline headline--help">
                  <h1 class="headline__name">Help</h1>
                  <button
                     type="button"
                     id="help__arrowBack"
                     class="page-back-btn headline__logo"
                     aria-label="Zurück">
                     <img
                        src="../assets/icons/desktop/arrowBack.svg"
                        alt=""
                        class="page-back-btn__icon" />
                  </button>
               </section>
               <section class="textcontent">
                  <p class="help__text">
                     Welcome to the help page for
                     <span class="help__text--secondary">Join</span>, your guide
                     to using our kanban project management tool. Here, we'll
                     provide an overview of what
                     <span class="help__text--secondary">Join</span> is, how it
                     can benefit you, and how to use it.
                  </p>
                  <h3 class="help__subheading">What is Join?</h3>
                  <p class="help__text">
                     <span class="help__text--secondary">Join</span> is a
                     kanban-based project management tool designed and built by
                     a group of dedicated students as part of their web
                     development bootcamp at the Developer Akademie.
                  </p>
                  <p class="help__text">
                     Kanban, a Japanese term meaning "billboard", is a highly
                     effective method to visualize work, limit work-in-progress,
                     and maximize efficiency (or flow).
                     <span class="help__text--secondary">Join</span> leverages
                     the principles of kanban to help users manage their tasks
                     and projects in an intuitive, visual interface.
                  </p>
                  <p class="help__text">
                     It is important to note that
                     <span class="help__text--secondary">Join</span> is designed
                     as an educational exercise and is not intended for
                     extensive business usage. While we strive to ensure the
                     best possible user experience, we cannot guarantee
                     consistent availability, reliability, accuracy, or other
                     aspects of quality regarding
                     <span class="help__text--secondary">Join</span>.
                  </p>
                  <h3 class="help__subheading">How to Use Join</h3>
                  <section class="help__howToUse">
                     <p class="help__text">
                        Here is a step-by-step guide on how to use
                        <span class="help__text--secondary">Join</span>:
                     </p>
                     <div class="help__howToUse--list">
                        <h3 class="help__subheading">1.</h3>
                        <div class="help__howToUse--bulletPoint">
                           <h4 class="help__subheading--bulletpoint">
                              Exploring the Board
                           </h4>
                           <p class="help__text">
                              When you log in to
                              <span class="help__text--secondary">Join</span>,
                              you'll find a default board. This board represents
                              your project and contains four default lists: "To
                              Do", "In Progress", “Await feedback” and "Done".
                           </p>
                        </div>
                     </div>
                     <div class="help__howToUse--list">
                        <h3 class="help__subheading">2.</h3>
                        <div class="help__howToUse--bulletPoint">
                           <h4 class="help__subheading--bulletpoint">
                              Creating Contacts
                           </h4>
                           <p class="help__text">
                              In
                              <span class="help__text--secondary">Join</span>,
                              you can add contacts to collaborate on your
                              projects. Go to the "Contacts" section, click on
                              "New contact", and fill in the required
                              information. Once added, these contacts can be
                              assigned tasks and they can interact with the
                              tasks on the board.
                           </p>
                        </div>
                     </div>
                     <div class="help__howToUse--list">
                        <h3 class="help__subheading">3.</h3>
                        <div class="help__howToUse--bulletPoint">
                           <h4 class="help__subheading--bulletpoint">
                              Adding Cards
                           </h4>
                           <p class="help__text">
                              Now that you've added your contacts, you can start
                              adding cards. Cards represent individual tasks.
                              Click the "+" button under the appropriate list to
                              create a new card. Fill in the task details in the
                              card, like task name, description, due date,
                              assignees, etc.
                           </p>
                        </div>
                     </div>
                     <div class="help__howToUse--list">
                        <h3 class="help__subheading">4.</h3>
                        <div class="help__howToUse--bulletPoint">
                           <h4 class="help__subheading--bulletpoint">
                              Moving Cards
                           </h4>
                           <p class="help__text">
                              As the task moves from one stage to another, you
                              can reflect that on the board by dragging and
                              dropping the card from one list to another.
                           </p>
                        </div>
                     </div>
                     <div class="help__howToUse--list">
                        <h3 class="help__subheading">5.</h3>
                        <div class="help__howToUse--bulletPoint">
                           <h4 class="help__subheading--bulletpoint">
                              Deleting Cards
                           </h4>
                           <div class="help__howToUse--gap">
                              <p class="help__text">
                                 Once a task is completed, you can either move
                                 it to the "Done" list or delete it. Deleting a
                                 card will permanently remove it from the board.
                                 Please exercise caution when deleting cards, as
                                 this action is irreversible.
                              </p>
                              <p class="help__text">
                                 Remember that using
                                 <span class="help__text--secondary">Join</span>
                                 effectively requires consistent updates from
                                 you and your team to ensure the board reflects
                                 the current state of your project.
                              </p>
                              <p class="help__text">
                                 Have more questions about
                                 <span class="help__text--secondary">Join</span
                                 >? Feel free to contact us at [Your Contact
                                 Email]. We're here to help you!
                              </p>
                           </div>
                        </div>
                     </div>
                  </section>
                  <h3 class="help__subheading help__subheading--conclusion">
                     Enjoy using Join!
                  </h3>
               </section>
            </div>
         </main>
      </section>
   </body>
</html>

