<!DOCTYPE html>

<html lang="de">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Legal Notice</title>
<link href="../assets/icons/desktop/logoFavicon.svg" media="(prefers-color-scheme: light)" rel="icon" type="image/svg+xml"/>
<link href="../assets/icons/desktop/logo.svg" media="(prefers-color-scheme: dark)" rel="icon" type="image/svg+xml"/>
<script src="../scripts/template.js"></script>
<script src="../scripts/legalInformation.js"></script>
<script src="../scripts/global-auth-routing.js"></script>
<script src="../script.js"></script>
<link href="../styles/standard.css" rel="stylesheet"/>
<link href="../style.css" rel="stylesheet"/>
<link href="../styles/components/navigation.css" rel="stylesheet"/>
<link href="../styles/components/header.css" rel="stylesheet"/>
<link href="../styles/components/dropdown.css" rel="stylesheet"/>
<link href="../styles/components/app-shell.css" rel="stylesheet"/>
<link href="../styles/components/app-shell-responsive.css" rel="stylesheet"/>
<link href="../styles/legal.css" rel="stylesheet"/>
</head>
<body>

<nav class="navBar">
<header class="navBar__logo logo">
<img alt="Logo" class="logoIcon" src="../assets/icons/desktop/logo.svg"/>
</header>
<main class="navBar__menu">
<ul class="navBar__list list">
<li class="navBar__quicklink" id="nav-summary">
<img alt="" class="quicklink__icon" src="../assets/icons/desktop/summary.svg"/>
<span>Summary</span>
</li>
<li class="navBar__quicklink quicklink" id="nav-add-task">
<img alt="" class="quicklink__icon" src="../assets/icons/desktop/addTask.svg"/>
<span>Add Task</span>
</li>
<li class="navBar__quicklink quicklink" id="nav-board">
<img alt="" class="quicklink__icon" src="../assets/icons/desktop/board.svg"/>
<span>Board</span>
</li>
<li class="navBar__quicklink quicklink" id="nav-contacts">
<img alt="" class="quicklink__icon" src="../assets/icons/desktop/contacts.svg"/>
<span>Contacts</span>
</li>
</ul>
</main>
<footer class="navBar__legalInformation">
<p class="legalInformation" id="nav-Privacy-Policy">
               Privacy Policy
            </p>
<p class="legalInformation navBar__quicklink--active" id="nav-Legal-Notice">
               Legal Notice
            </p>
</footer>
</nav>
<section class="mainArea">
<header class="header">
<div class="header_flex-instructions topBar">
<img alt="Logo" class="logo__dark" src="../assets/icons/desktop/Dark_Logo.svg"/>
<span class="topBar__name">Kanban Project Management Tool</span>
<section class="topBar__loginHelp">
<img alt="Help Icon" class="help__icon" id="help" src="../assets/icons/desktop/help.svg"/>
<span class="login__initials" id="login__initials"></span>
</section>
</div>
</header>
<div class="header__dropdown" id="dropdownMenu">
<ul class="header__dropdown-quicklinks">
<li class="header__dropdown-quicklink" id="dropdownHelp">
                  Help
               </li>
<li class="header__dropdown-quicklink" id="dropdownPrivacyPolicy">
                  Privacy Policy
               </li>
<li class="header__dropdown-quicklink" id="dropdownLegalNotice">
                  Legal Notice
               </li>
<li class="header__dropdown-quicklink" id="dropdownLog">
                  Log out
               </li>
</ul>
</div>
<main class="main content_max-width">
<div class="main_flex-instructions">
<section class="headline">
<h1 class="headline__name headline__legalinformation">
                     Legal Notice
                  </h1>
</section>
<section class="textcontent">
<div class="legal__imprint">
<h3 class="legal__heading">Imprint</h3>
<ul class="legal__list">
<li class="legal__text">
                           Michael Zünd, Frederik Stoltenhoff, Ellen R
                        </li>
<li class="legal__text">Alvirtsrasse 11a</li>
<li class="legal__text">9463 Oberriet</li>
</ul>
<section class="legal__textwrapper">
<h4 class="legal__subheading">Exploring the board</h4>
<p class="legal__text">
                           Email:
                           <span class="legal__text--secondary">michael.dev@join-app.ch</span>
</p>
</section>
</div>
<section class="legal__textwrapper">
<h4 class="legal__subheading">Acceptance of terms</h4>
<p class="legal__text">
                        By accessing and using
                        <span class="legal__text--secondary">Join</span>
                        (Product), you acknowledge and agree to the following
                        terms and conditions, and any policies, guidelines, or
                        amendments thereto that may be presented to you from
                        time to time. We, the listed students, may update or
                        change the terms and conditions from time to time
                        without notice.
                     </p>
</section>
<section class="legal__textwrapper">
<h4 class="legal__subheading">
                        Scope and ownership of the product
                     </h4>
<div class="legal__textwrapper--gap">
<p class="legal__text">
<span class="legal__text--secondary">Join</span> has
                           been developed as part of a student group project in
                           a web development bootcamp at the
                           <span class="legal__text--secondary">Developer Akademie GmbH</span>. It has an educational purpose and is not intended
                           for extensive personal &amp; business usage. As such, we
                           cannot guarantee consistent availability,
                           reliability, accuracy, or any other aspect of quality
                           regarding this Product.
                        </p>
<p class="legal__text">
                           The design of
                           <span class="legal__text--secondary">Join</span> is
                           owned by the
                           <span class="legal__text--secondary">Developer Akademie GmbH</span>. Unauthorized use, reproduction, modification,
                           distribution, or replication of the design is
                           strictly prohibited.
                        </p>
</div>
</section>
<section class="legal__textwrapper">
<h4 class="legal__subheading">Proprietary rights</h4>
<p class="legal__text">
                        Aside from the design owned by
                        <span class="legal__text--secondary">Developer Akademie GmbH</span>, we, the listed students, retain all proprietary
                        rights in
                        <span class="legal__text--secondary">Join</span>,
                        including any associated copyrighted material,
                        trademarks, and other proprietary information.
                     </p>
</section>
<section class="legal__textwrapper">
<h4 class="legal__subheading">Use of the product</h4>
<p class="legal__text">
<span class="legal__text--secondary">Join</span> is
                        intended to be used for lawful purposes only, in
                        accordance with all applicable laws and regulations. Any
                        use of Join for illegal activities, or to harass, harm,
                        threaten, or intimidate another person, is strictly
                        prohibited. You are solely responsible for your
                        interactions with other users of
                        <span class="legal__text--secondary">Join</span>.
                     </p>
</section>
<section class="legal__textwrapper">
<h4 class="legal__subheading">
                        Disclaimer of warranties and limitation of liability
                     </h4>
<p class="legal__text">
<span class="legal__text--secondary">Join</span> is
                        provided "as is" without warranty of any kind, whether
                        express or implied, including but not limited to the
                        implied warranties of merchantability, fitness for a
                        particular purpose, and non-infringement. In no event
                        will we, the listed students, or the
                        <span class="legal__text--secondary">Developer Akademie</span>, be liable for any direct, indirect, incidental,
                        special, consequential or exemplary damages, including
                        but not limited to, damages for loss of profits,
                        goodwill, use, data, or other intangible losses, even if
                        we have been advised of the possibility of such damages,
                        arising out of or in connection with the use or
                        performance of
                        <span class="legal__text--secondary">Join</span>.
                     </p>
</section>
<section class="legal__textwrapper">
<h4 class="legal__subheading">Indemnity</h4>
<div class="legal__textwrapper--gap">
<p class="legal__text">
                           You agree to indemnify, defend and hold harmless us,
                           the listed students, the
                           <span class="legal__text--secondary">Developer Akademie</span>, and our affiliates, partners, officers, directors,
                           agents, and employees, from and against any claim,
                           demand, loss, damage, cost, or liability (including
                           reasonable legal fees) arising out of or relating to
                           your use of
                           <span class="legal__text--secondary">Join</span>
                           and/or your breach of this Legal Notice.
                        </p>
<p class="legal__text">
                           For any questions or notices, please contact us at
                           m.arnoldy@outlook.de.
                        </p>
<p class="legal__text">Date: February 12, 2026</p>
</div>
</section>
</section>
</div>
</main>
</section>
</body>
</html>
