<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>

    <link
         rel="icon"
         href="../assets/icons/desktop/logoFavicon.svg"
         type="image/svg+xml"
         media="(prefers-color-scheme: light)" />
      <link
         rel="icon"
         href="../assets/icons/desktop/logo.svg"
         type="image/svg+xml"
         media="(prefers-color-scheme: dark)" />

    <script src="../scripts/template.js"></script>
    <script src="../scripts/auth/login.js"></script>
    <script src="../scripts/auth/index.js"></script>
    <script src="../scripts/auth/signup.js"></script>
    <script src="../scripts/auth/signup-ui-write.js"></script>
    <script src="../scripts/global-auth-routing.js"></script>
    <script src="../script.js"></script>
    
    <link rel="stylesheet" href="../styles/standard.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/login/layout.css">
    <link rel="stylesheet" href="../styles/login/forms.css">
    <link rel="stylesheet" href="../styles/login/buttons.css">
    <link rel="stylesheet" href="../styles/login/responsive.css">
</head>
<body>
    
    <div class="main-content--signup">
        <header class="signup__header">
            <img src="../assets/icons/desktop/Dark_Logo.svg" alt="Logo" class="main-content--signup-logo">
        </header>
        <main>
            <div class="login__window">
                <div class="login__headline">
                    <img
                        id="signup__arrowBack"
                        src="../assets/icons/desktop/arrowBack.svg"
                        alt="Arrow Back"
                        class="signup__arrowBack" />
                    <h1 class="login__header">Sign up</h1>
                    <img src="../assets/icons/desktop/login__dividingLine.svg" alt="Dividing Line" class="login__headline--line">
                </div>
                <form action="#" class="login__formular">
                    <div class="login__inputFieldError">
                        <div class="login__input-field">
                            <input type="text" class="login__input login__input--email" autocomplete="off" placeholder="Name">
                            <img src="../assets/icons/desktop/person.svg" alt="" class="login__email-icon" />
                        </div>
                        <span class="login__input--required" data-error-for="name" data-default-message="This field is required">
                            This field is required
                        </span>
                    </div>
                    <div class="login__inputFieldError">
                        <div class="login__input-field">
                            <input type="email" class="login__input login__input--email" autocomplete="off" placeholder="Email">
                            <img src="../assets/icons/desktop/mail.svg" alt="" class="login__email-icon" />
                        </div>
                        <span class="login__input--required" data-error-for="email" data-default-message="This field is required">
                            This field is required
                        </span>
                    </div>
                    <div class="login__inputFieldError">
                        <div class="login__input-field">
                            <input type="password" class="login__input login__input--password" id="password-input" autocomplete="off" placeholder="Password">
                            <img id="password-icon" src="../assets/icons/desktop/lock.svg" alt="" class="login__lock-icon" />
                        </div>
                        <span class="login__input--required" data-error-for="password" data-default-message="This field is required">
                            This field is required
                        </span>
                    </div>
                    <div class="login__inputFieldError">
                        <div class="login__input-field">
                            <input type="password" class="login__input login__input--password" id="confirm-password-input" autocomplete="off" placeholder="Confirm Password">
                            <img id="confirm-password-icon" src="../assets/icons/desktop/lock.svg" alt="" class="login__lock-icon" />
                        </div>
                        <span class="login__input--required" data-error-for="confirmPassword" data-default-message="Your passwords don't match.">
                        </span>
                    </div>
                    <div class="signup__privacy-field">
                        <div class="signup__privacy-checkbox">
                            <input type="checkbox" id="privacy-policy" class="signup__checkbox">
                            <label for="privacy-policy" class="signup__checkbox-label">
                                I accept the <a href="./privacy-Policy.html?from=signup" class="signup__privacy-link">Privacy Policy</a>
                            </label>
                        </div>
                        <span class="login__input--required signup__privacy-error" data-error-for="privacy" data-default-message="Please accept the Privacy Policy.">
                            Please accept the Privacy Policy.
                        </span>
                    </div>
                </form>
                <div class="login__buttonArea">
                    <button id="login-button" class="login__button--login login__button button">Sign up</button>
                </div>
            </div>
        </main>
        <footer class="login__legalInformation--area">
            <a href="./privacy-Policy.html?from=signup" class="login__legalInformation" id="signup-privacy-policy">
                Privacy Policy
            </a>
            <a href="./legalnotice.html?from=signup" class="login__legalInformation" id="signup-legal-notice">Legal Notice</a>
        </footer>
    </div>
</body>
</html>
